[Unit]
Description=Emcraft Qt5 Demo

[Service]
Environment="QT_QPA_EGLFS_FORCE888=1"
Environment="QT_EGLFS_IMX6_NO_FB_MULTI_BUFFER=1"
Environment="QT_QPA_PLATFORM=wayland"
Environment="XDG_RUNTIME_DIR=/run/user/0"
ExecStart=/usr/bin/Qt5_EmcraftDemo --fullscreen
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
